<div class="d-flex justify-content-between" style="margin-top: 20px;">
    <div id="info">
      <h3>Welcome to Connect Paws for Hope!</h3>
      <p>This is a tool for saving lost and homeless pets and making our community a better place to live.</p>
      <div class="iconParagraph">
          <i class="material-icons">location_searching</i>Spot lost or homeless animals in need wherever you are.
      </div>
      <div class="iconParagraph">
          <i class="material-icons">notification_important</i>Alert local shelters.
      </div>
      <div class="iconParagraph">
          <i class="material-icons">update</i>Receive updates on the pet.
      </div>
      <div class="iconParagraph">
          <i class="material-icons">grade</i>Score points for helping.
      </div>
      <div class="iconParagraph">
          <i class="material-icons">face</i>Meet others.
      </div>
    </div>
    <div class="d-flex justify-content-center" id="userRegistrationForm">
        <form>
            <h3>Register</h3>

            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First name">
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last name">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="Phone">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>

